<script lang="ts">
	import { onMount } from 'svelte';
	import { Moon } from 'svelte-loading-spinners';
	import { resolveColumnName, resolveColumnInfo } from '$lib/i18nUtil';
	import moment from 'moment';
	import { tooltip } from '@svelte-plugins/tooltips';
	import IIcon from '../components/i-icon.svelte';

	let data: Promise<dataItem[]> = new Promise(() => {});

	onMount(() => {
		data = fetch('/data.json')
			.then((v) => v.json())
			.then((v) => {
				// Temporary artificial delay
				return new Promise((res, _rej) => {
					setTimeout(() => {
						res(v);
					}, 1000);
				});
			});
	});

	type dataItem = {
		gameId: string;
		begginingDate: number;
		gameName: string;
		type: string;
		companyName: string;
		currentRound: number;
		harmonogram: Record<string, unknown>;
		certificateId: string | null;
	};

	const columns = [
		'begginingDate',
		'gameName',
		'type',
		'companyName',
		'currentRound',
		'harmonogram',
		'certificate',
		'enterGame'
	];

	// moment(element.begginingDate * 1000).format('YYYY-MM-DD hh:mm')
</script>

<main>
	{#await data}
		<div class="loader-wrapper">
			<p>Loading...</p>
			<Moon size="3" color="#FF3E00" unit="em" duration="1s" />
		</div>
	{:then resolvedData}
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						{#each columns as column}
							<th>
								<div class="icon" title={resolveColumnInfo(column)} use:tooltip={{position: 'bottom'}}>
									<IIcon></IIcon>
								</div>
								{resolveColumnName(column)}
							</th>
						{/each}
					</tr>
				</thead>
				<tbody>
					{#each resolvedData as element}
						<tr>
							<td>
								{moment(element.begginingDate * 1000).format('YYYY-MM-DD HH:mm')}
							</td>
							<td>
								{element.gameName}
							</td>
							<td>
								{element.type}
							</td>
							<td>
								{element.companyName}
							</td>
							<td>
								{element.currentRound}
							</td>
							<td>
								<a class="calendar-link" href={'/harmonogram/' + element.gameId}>
									<img src="/icons/calendar.svg" width="30" alt="Go to harmonogram" />
								</a>
							</td>
							<td>
								{#if element.certificateId === null}
									-
								{:else}
									<a
										class="button button-certificate"
										href={'/certificate/' + element.certificateId + '.pdf'}
										target="_blank"
									>
										Pobierz
									</a>
								{/if}
							</td>
							<td>
								<a class="button button-enter" href={'/game/' + element.gameId}> Wejdź </a>
							</td>
						</tr>
					{/each}
				</tbody>
			</table>
		</div>
	{/await}
</main>

<style lang="scss">
	.table-wrapper {
		border: 1px solid #cecece;
		border-radius: 20px;
		margin: 2em auto;
		width: fit-content;
	}

	table {
		border-collapse: collapse;

		thead th {
			border-top: none;
			position: relative;
			padding: 2.5em 3em 2em;
		}

		tr {
			th:last-child,
			td:last-child {
				border-right: none;
			}
			th:first-child,
			td:first-child {
				border-left: none;
			}
		}

		tr:last-child td {
			border-bottom: none;
		}

		tbody tr:nth-child(2n-1) {
			background: #fafafa;
		}

		td,
		th {
			border: 1px solid #cecece;
			padding: 1.5em 1em;
			text-align: center;
		}
	}

	.button {
		font-weight: 600;
		border: 1px solid #cecece;
		border-radius: 0.6em;
		padding: 0.7em 2em;
		text-transform: uppercase;
		&-enter {
			background-color: #f19b11;
			color: white;
			border: none;
			padding: 0.7em 3em;
		}
	}

	.loader-wrapper {
		margin: 3em auto;
		width: fit-content;
		display: flex;
		flex-flow: column nowrap;
		gap: 1em;
		font-size: 2em;
		align-items: center;
	}

	icon {
		display: block;
		background-size: contain;
		position: absolute !important; // Otherwise tooltip overrides it
		top: 0.5em;
		right: 0.5em;
		width: 1.3em;
		height: 1.3em;
	}

	.icon-gray {

		filter: opacity(25%);
		.tooltip {
			filter: opacity(10%);
		}
	}
</style>
