/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url('/Montserrat-VariableFont_wght.ttf');
}

body{
  font-family: 'Montserrat', sans-serif; 
}

a{
  text-decoration: none;
  color: inherit;
}

